{% extends 'basico/menu.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <main class="form-signin w-100 m-auto">
            <form action="{% url 'login_app' %}" method="post">{% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Entrar</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputUsername" placeholder="Usuário" name="username">
                    <label for="floatingInputUsername">Usuário</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Sua senha"
                        name="senha">
                    <label for="floatingPassword">Senha</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit" value="Entrar">Entrar</button>
            </form>
            <br>
            <br>
            <br>
            <p>Ainda não é cadastrado?</p>
                <button class="w-100 btn btn-lg btn-secondary" type="#" value="cadastre-se">Cadastre-se</button>
        </main>
    </div>
</div>
{% endblock %}