{% extends 'basico/menu.html' %}
{% block content %}
<div class="card text-center position-absolute top-50 start-50 translate-middle" style="width: 30rem;">
    <div class="card-body">
        <main class="form-signin w-100 m-auto">
            <form action="{% url 'login_app' %}" method="post">{% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Entrar</h1>

                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingInputUsername" placeholder="Usuário"
                        name="username">
                    <label for="floatingInputUsername">Usuário</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Sua senha"
                        name="senha">
                    <label for="floatingPassword">Senha</label>
                </div>
                <button class="w-100 btn btn-lg btn-outline-dark" type="submit" value="Entrar">Entrar</button>
            </form>
            <br>
            <br>
            <p><small>Não é cadastrado?</small></p>
            <a href="{% url 'cadastro' %}" class="w-100 btn btn-lg btn-outline-warning" role="button"
                value="cadastre-se">Cadastre-se</a>
        </main>
    </div>
</div>
{% endblock %}