{% extends 'basico/menu.html' %}
{% block content %}
<div class="container">
  <H1>Listagem de plantas</H1>

  {% for planta in plantas_list %}

  <div class="card shadow-sm">
    <div class="card-header">
      Nome Cientifico: {{ planta.especie }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Nome popular: {{ planta.nome_popular }}</h5>
      <p class="card-text">
        Bioma: {{ planta.bioma }}, Porte: {{planta.porte_da_planta}},
        É empregada na estratégia ecologica de ocupação do tipo {{planta.estrategia_ecologica_ocupacao}}
        e seu uso econômico é geralmente {{planta.uso_economico}}.
      </p>
      <a href="{% url 'detalhe_planta' planta.id_planta %}" class="btn btn-success">
        Ver esta planta em detalhes</a>
    </div>
  </div>
  <br>

  {% endfor %}
</div>
{% endblock %}